.navbar {
    transition: 0.5s;
    background-color: #000000af;
}

#navbar {
    padding: 25px 5px;
}


.navbar p {
    color: white;
    text-decoration: none;
    margin: 0;
}

.navbar button {
    background-color: #e16363;
}

.navbar a {
    text-decoration: none;
    color: white;
}

ul .dropdown-menu {
    background-color: black;
}


.carousel-item {
    max-height: 100vh;
    height: 100%;
}

.img-carousel {
    opacity: 0.5;
    height: 100%;
}

.dark {
    background-color: black;
}

.container.c-1 {
    margin-top: 4em;
}

/* .container.ibra {
    background-image: url('../images/Jumbotron\ Ibra.png');
    background-repeat: no-repeat;
    background-size: contain;
} */

footer {
    margin-top: 4.5em;
}

.carousel.slide {
    height: fit-content;
}

.produck-dashboard {
    margin-top: 3rem;
    margin-left: 4rem;
    margin-right: 4rem;
}